body {
    margin: 0 auto;
    background-color: rgb(24, 23, 25);
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    border: 1px solid white;
    padding: 0.25em;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin-left: auto
}

li {
    display: inline;
    margin: 0 1rem;
}

li a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 90%;
    margin: auto;
    padding-top: 5em;
}

footer p {
    text-align: center;
    font-weight: 700;
    color: grey;
}

#menuicon {
    display: none;
    padding: 0 2rem;
    margin-left: auto
}

#menuicon div {
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
}

#left-panel {
    width: 50%;
}

#left-panel h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2em;
    margin-top: 0;
}

#left-panel p {
    line-height: 1.5;
    width: 75%;
}

#left-panel a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#right-panel img {
    max-width: 100%;
}

#designer-box {
    background-color: rgb(24, 23, 25);
    width: 50%;
    margin: 0 35%;
    padding: 2em;
    position: relative;
    bottom: 10%;
}

#designer-box-header {
    display: flex;
    align-items: center;
}

#designer-box-header img {
    border-radius: 50%;
}

#db-header-text {
    padding-left: 2em;
}

#db-header-text h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

#db-header-text p {
    color: grey;
}

.responsive #bar1 {
    transform: rotate(-45deg) translate(-7px, 5px);
}

.responsive #bar2 {
    opacity: 0;
}

.responsive #bar3 {
    transform: rotate(45deg) translate(-6px, -5px);
}

@media only screen and (max-width: 425px) {
    body.responsive {
        overflow: hidden;
        height: 100%;
    }
    
    nav {
        flex-wrap: wrap;
        width: 100%;
    }

    h1 {
        margin-left: 1rem;
    }

    ul {
        padding: 0;
        width: 100%;
        display: none;
        background-color: rgb(24, 23, 25);
    }

    ul.responsive {
        position: fixed;
        display: inline;
        top: 9%;
        z-index: 1;
    }
    
    li {
        display: block;
        text-align: center;
        margin: 0 auto !important;
    }

    li a {
        display: block;
        width: 100%;
        padding: 9vh 0;
    }

    main {
        display: block;
        padding-top: 1em;
    }

    footer {
        position: relative;
        bottom: 0;
        margin-top: 5em;
        border-top: 1px solid grey;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #menuicon {
        display: block;
        padding: 0;
        margin-right: 1rem;
    }

    #left-panel {
        width: 100%;
        padding-bottom: 2em;
    }

    #designer-box {
        max-width: 100%;
        width: 75%;
        margin: -10% 5%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #designer-box {
        max-width: 100%;
        width: 75%;
        margin-left: 5%;
    }
}
