<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Basic Blog" />
	<title>Basic Blog</title>
	<link rel="stylesheet" href="basicblog.css" />
	<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
</head>
<body>
	<h1>The Basic Blog</h1>
	<div id="blog-container">
		<div class="blog-post">
			<img class="blog-image" src="photo-1.jpg">
			<h2>Blog Post #1</h2>
			<p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in arcu eu velit placerat sollicitudin.</p>
			<a class="blog-link" href="blogpage.html">Read More >></a>
		</div>
		<div class="blog-post">
			<img class="blog-image" src="photo-2.jpg">
			<h2>Blog Post #2</h2>
			<p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in arcu eu velit placerat sollicitudin.</p>
			<a class="blog-link" href="blogpage.html">Read More >></a>
		</div>
		<div class="blog-post">
			<img class="blog-image" src="photo-3.jpg">
			<h2>Blog Post #3</h2>
			<p class="blog-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in arcu eu velit placerat sollicitudin.</p>
			<a class="blog-link" href="blogpage.html">Read More >></a>
		</div>
	</div>
</body>
</html>
