body {
	margin: 0 auto;
	font-family: 'Lora', serif;
}

h1 {
	font-size: 9.4em;
	text-align: center;
	font-weight: 400;
}

h2 {
	font-weight: 400;
}

#blog-container {
	text-align: center;
}

.blog-post {
	display: inline-block;
	width: 20.8%;
	min-width: 350px;
	padding: 1%;
	margin: 0 auto;
}

.blog-image {
	width: 87.5%;
	height: 50%;
}

.blog-desc {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.blog-link {
	text-align: left;
	text-decoration: none;
	color: black;
	display: block;
	width: 80%;
	margin: 2% auto;
}

@media only screen and (max-width: 425px) {
	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 1.2em;
	}

	.blog-post {
		padding: 2% 0;
		width: 75%;
	}

	.blog-image {
		height: 37.5%;
	}

	.blog-desc {
		font-size: 0.8em;
	}

	.blog-link {
		font-size: 0.8em;
	}
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 1.2em;
	}

	.blog-post {
		padding: 0px;
		min-width: 250px;
	}

	.blog-image {
		width: 80%;
		height: 37.5%;
	}

	.blog-desc {
		font-size: 0.8em;
	}

	.blog-link {
		font-size: 0.8em;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	h1 {
		font-size: 6.5em;
	}

	h2 {
		font-size: 1.2em;
	}

	.blog-post {
		padding: 0px;
		min-width: 300px;
	}

	.blog-image {
		width: 83.33%;
		height: 37.5%;
	}

	.blog-desc {
		font-size: 0.8em;
	}

	.blog-link {
		font-size: 0.8em;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	h1 {
		font-size: 8em;
	}
}
