body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 2px 5px rgb(150, 150, 150);
    top: 0;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}

header h1 {
    font-weight: 400;
    margin-left: 2%;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

header nav a {
    text-decoration: none;
    color: black;
}

article {
    margin-top: 4%;
}

#article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-image: url('bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

#article-title h2 {
    color: black;
    background-color: white;
    font-size: 3em;
    padding: 2%;
}

section {
    width: 80%;
    margin: 2% auto;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    display: flex;
    align-items: flex-end;
    margin: 2% auto;
    width: 22%;
    height: 20vh;
    background-image: url('project.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.project p {
    color: black;
    background-color: white;
    padding: 2%;
    font-weight: 400;
    font-size: 1.25em;
    margin: 0 0 5% 5%;
}

#contact .section-content {
    display: initial;
}

input[type=text], [type=email], [type=number] {
    display: block;
    margin-top: 1%;
    font-size: 1em;
    width: 100%;
    padding: 0.5%;
}

input[type=submit] {
    margin-top: 1%;
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 0.5%;
    border: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(50, 50, 50);
}

@media only screen and (max-width: 425px) {
    header h1 {
        font-size: 1.5em;
    }

    nav {
        visibility: hidden;
    }

    #article-title {
        width: 100%;
        height: 50vh;
    }

    #article-title h2 {
        font-size: 1.5em;
    }

    .section-content {
        display: block;
    }

    .project {
        width: 100%;
        height: 25vh;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }

    header nav {
        width: 35%;
    }

    #article-title {
        width: 100%;
        height: 50vh;
    }

    #article-title h2 {
        font-size: 1.5em;
    }

    .project {
        width: 44%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header nav {
        width: 30%;
    }

    .project {
        width: 44%;
        height: 30vh;
    }
}
