<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Developer Portfolio #3" />
	<title>Developer Portfolio #3</title>
    <link rel="stylesheet" href="devportfolio3.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Developer Portfolio</h1>
        <nav>
            <a href="#projects">Projects</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <article>
        <div id="article-title">
            <h2>Developer Portfolio</h2>
        </div>
        <section id="projects">
            <h2>Projects</h2>
            <hr>
            <div class="section-content">
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
                <div class="project">
                    <p>Project</p>
                </div>
            </div>
        </section>
        <section id="about">
            <h2>About Me</h2>
            <hr>
            <div class="section-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor ligula malesuada quam dignissim, sed convallis odio aliquet. Ut blandit leo eu nulla hendrerit lobortis. Sed a est eget orci suscipit aliquam. Fusce porttitor consectetur justo non aliquet. Quisque porttitor augue vel nisi posuere, ut facilisis sem pretium. Donec accumsan mi non dolor porttitor, pharetra bibendum arcu volutpat. Praesent euismod justo ut dignissim pellentesque. Phasellus finibus, ex ac pellentesque egestas, lectus lacus laoreet dui, id tempus libero neque quis orci. Maecenas pellentesque nec mauris lobortis maximus. Sed nec nisi condimentum, sollicitudin neque vel, tempus sem. Duis scelerisque ligula magna, quis iaculis sapien faucibus at. Nulla quis varius ante. Phasellus faucibus nulla in felis feugiat pretium. Suspendisse fermentum sem non condimentum venenatis. Donec vel neque non massa sollicitudin tincidunt et a quam.</p>
            </div>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            <hr>
            <div class="section-content">
                <input type="text" id="fullname" name="fullname" placeholder="Name">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="number" id="phone" name="phone" placeholder="Phone">
                <input type="text" id="message" name="message" placeholder="Brief message">
                <input type="submit" value="Message">
            </div>
        </section>
    </article>
</body>
</html>