<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Developer Portfolio #2" />
	<title>Developer Portfolio #2</title>
    <link rel="stylesheet" href="devportfolio2.css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300i|Montserrat|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cd280adb12.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav id="navbar">
        <a href="#about">About Me</a><a href="#projects">Projects</a><a href="#contact">Contact</a>
    </nav>
    <section id="welcome-section">
        <h1>Developer Portfolio</h1>
        <h2>Web Developer</h2>
    </section>
    <section id="about">
        <h2>About Me</h2>
        <img src="profilepic.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque, augue quis ullamcorper condimentum, augue purus suscipit felis, a consectetur velit enim vel elit. Aenean eu nisi sed leo fermentum luctus. Aenean laoreet, velit quis sodales vulputate, lacus metus egestas dui, eget fringilla quam nunc ut turpis. Vivamus congue libero felis, ut sollicitudin tellus pretium vel. Phasellus turpis nisl, iaculis eget eros eu, tristique imperdiet metus. Mauris rhoncus sem et libero lacinia elementum.</p>
    </section>
    <section id="projects">
        <h2>Projects</h2>
        <div id="projects-cards">
            <div class="project-tile">
                <img src="project-image.jpg">
                <h3>Project</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#">View</a>
            </div>
            <div class="project-tile">
                <img src="project-image.jpg">
                <h3>Project</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#">View</a>
            </div>
            <div class="project-tile">
                <img src="project-image.jpg">
                <h3>Project</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#">View</a>
            </div>
        </div>
    </section>
    <section id="contact">
        <h2>Contact</h2>
        <form>
            <input type="text" name="fullname" id="fullname" placeholder="Name"><input type="email" name="email" id="email" placeholder="Email">
            <textarea cols="52" rows="4" placeholder="Message"></textarea>
            <input type="submit" value="Send">
        </form>
        <footer>
            <a href="https://facebook.com" target=”_blank”><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com" target=”_blank”><i class="fab fa-twitter-square"></i></a>
            <a href="https://github.com" target=”_blank”><i class="fab fa-github-square"></i></a>
            <a href="https://linkedin.com" target=”_blank”><i class="fab fa-linkedin"></i></a>
        </footer>
    </section>
</body>
</html>