<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Grid Blog" />
	<title>Grid Blog</title>
    <link rel="stylesheet" href="gridblog.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Grid Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </header>
    <article>
        <section id="posts">
            <div class="blog-post">
                <div class="blog-img" style="background-image: url('snowymountain.jpg');"></div>
                <div class="post-text">
                    <h2>Post Title</h2>
                    <p>January 1, 2020</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis lectus in nunc faucibus finibus. Cras eu pulvinar mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <a href="#">Read »</a>
                </div>
            </div>
            <div class="blog-post">
                <div class="blog-img" style="background-image: url('mountainplain.jpg');"></div>
                <div class="post-text">
                    <h2>Post Title</h2>
                    <p>January 1, 2020</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis lectus in nunc faucibus finibus. Cras eu pulvinar mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <a href="#">Read »</a>
                </div>
            </div>
        </section>
        <section id="nav">
            <div class="nav-item">
                <img src="gridblog-profilepic.jpg">
                <div class="nav-text">
                    <h2>John Doe</h2>
                    <p>Email: john@example.com</p>
                    <p>Phone: (01) 5555 5555</p>
                </div>
            </div>
            <div class="nav-item">
                <h2 class="nav-title">Hot Posts</h2>
                <div class="nav-links">
                    <a href="#"><img src="painting.jpg"> Post Title</a>
                    <a href="#"><img src="painting-2.jpg"> Post Title</a>
                    <a href="#"><img src="painting-3.jpg"> Post Title</a>
                </div>
            </div>
            <div class="nav-item">
                <h2 class="nav-title">Tags</h2>
                <div class="nav-text">
                    <span>Lorem</span>
                    <span>Ipsum</span>
                    <span>Dolor</span>
                    <span>Sit</span>
                    <span>Lorem</span>
                    <span>Ipsum</span>
                    <span>Dolor</span>
                    <span>Sit</span>
                    <span>Lorem</span>
                    <span>Ipsum</span>
                    <span>Dolor</span>
                    <span>Sit</span>
                </div>
            </div>
        </section>
    </article>
</body>
</html>