<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Photo Album by JVS Development" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="photoalbum.css" />
    <title>Photo Album</title>
</head>
<body>
    <nav class="navbar justify-content-around navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Photo Album</span>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#album">Album</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container" id="display-heading">
        <h2 class="display-4">Photo Album</h2>
        <div class="container-sm">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius quam id est bibendum, vitae porta augue interdum. Nullam sit amet interdum mauris. Aenean efficitur turpis nunc, quis lobortis ante sagittis vel. Nulla at malesuada massa. Phasellus nec auctor leo, rhoncus laoreet enim. Morbi volutpat urna non libero tempus molestie.</p>
        </div>
    </div>
    <div class="container-fluid" id="album">
        <div class="row align-items-center">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="snowymountain2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Photo Title</h4>
                        <p class="card-text">A snowy mountain.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="snowymountain2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Photo Title</h4>
                        <p class="card-text">A snowy mountain.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="snowymountain2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Photo Title</h4>
                        <p class="card-text">A snowy mountain.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="snowymountain2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Photo Title</h4>
                        <p class="card-text">A snowy mountain.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="snowymountain2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Photo Title</h4>
                        <p class="card-text">A snowy mountain.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="snowymountain2.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Photo Title</h4>
                        <p class="card-text">A snowy mountain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="contact">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius quam id est bibendum, vitae porta augue interdum.</p>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="john@example.com" id="email">
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <input type="text" class="form-control" placeholder="Message" id="message">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>