<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Photography Portfolio" />
	<title>Photography Portfolio</title>
    <link rel="stylesheet" href="photoportfolio.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#about">About</a>
            <a href="#gallery">Gallery</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section id="section-title">
        <h1>John Doe's Photography</h1>
    </section>
    <section id="about">
        <img src="profile-pic.jpg">
        <div id="about-text">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu suscipit purus. Fusce eu nisi et sapien gravida lobortis sagittis sed risus. Curabitur id gravida mi, sed euismod lacus. Nullam vitae aliquam ex, quis pulvinar metus. Suspendisse in urna imperdiet, tincidunt purus ac, porttitor lacus. Suspendisse sapien nunc, lobortis vel velit dignissim, molestie feugiat magna. In sagittis interdum consectetur. Cras et orci rhoncus, semper ligula sit amet, pulvinar magna. Sed dapibus sit amet lacus nec porttitor. Mauris tristique posuere tortor, eu venenatis mauris vestibulum vel. Phasellus tincidunt, elit quis sollicitudin scelerisque, turpis turpis consequat lorem, nec iaculis tellus velit sed turpis. Nullam vehicula maximus sapien, id euismod libero consectetur quis. Donec sed lacus id purus sodales luctus nec a tortor. Nunc dictum, magna sit amet finibus lacinia, enim lorem ornare lorem, id ullamcorper sem sapien eu tortor.</p>
        </div>
    </section>
    <section id="gallery">
        <div id="img-library">
            <img src="photo.jpg">
            <img src="photo.jpg">
            <img src="photo.jpg">
            <img src="photo.jpg">
            <img src="photo.jpg">
            <img src="photo.jpg">
            <img src="photo.jpg">
            <img src="photo.jpg">
        </div>
    </section>
    <section id="contact">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu suscipit purus. Fusce eu nisi et sapien gravida lobortis sagittis sed risus.</p>
        <input type="text" id="fullname" name="fullname" placeholder="Name">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="number" id="phone" name="phone" placeholder="Phone">
        <input type="text" id="message" name="message" placeholder="Brief message">
        <input type="submit" value="Message">
    </section>
</body>
</html>