<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Product Page #2 by JVS Development" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="productpage2.css" />
    <script src="https://kit.fontawesome.com/cd280adb12.js" crossorigin="anonymous"></script>
    <title>Product Page #2</title>
</head>
<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <span class="navbar-brand mb-0 h1"><i class="fab fa-apple" style="font-size: 1.25em;"></i> Apple</span>
            <a class="nav-link" href="#mac">Mac</a>
            <a class="nav-link" href="#iphone">iPhone</a>
            <a class="nav-link" href="#ipad">iPad</a>
            <a class="nav-link" href="#watch">Watch</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="submit"><i class="fas fa-search"></i></button>
                <a class="nav-link" href="#"><i class="fas fa-shopping-bag"></i></a>
            </form>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid mb-1">
        <h1>iPhone 11</h1>
        <p class="text-muted">Just the right amount of everything.</p>
        <button type="button" class="btn btn-secondary">Buy Now</button>
    </div>
    <div class="container" id="grid-menu">
        <div class="row">
            <div class="col text-center bg-light p-3 m-3" id="mac">
                <h2>Mac</h2>
                <p class="text-muted">Taken further.</p>
                <button type="button" class="btn btn-secondary">Shop Mac</button>
                <img class="img-fluid d-block mx-auto my-2" src="mac.png">
            </div>
            <div class="col text-center bg-light p-3 m-3" id="iphone">
                <h2>iPhone</h2>
                <p class="text-muted">No other phone quite like it.</p>
                <button type="button" class="btn btn-secondary">Shop iPhone</button>
                <img class="img-fluid d-block mx-auto my-2" src="iphone.png">
            </div>
        </div>
        <div class="row">
            <div class="col text-center bg-light p-3 m-3" id="ipad">
                <h2>iPad</h2>
                <p class="text-muted">Your next computer is not a computer.</p>
                <button type="button" class="btn btn-secondary">Shop iPad</button>
                <img class="img-fluid d-block mx-auto my-2" src="ipad.png">
            </div>
            <div class="col text-center bg-light p-3 m-3" id="watch">
                <h2>Watch</h2>
                <p class="text-muted">The number one smartwatch in the world.</p>
                <button type="button" class="btn btn-secondary">Shop Watch</button>
                <img class="img-fluid d-block mx-auto my-2" src="watch.png">
            </div>
        </div>
    </div>
    <footer class="container">
        <div class="row">
            <div class="col d-flex flex-column align-items-center">
                <ul class="list-unstyled">
                    <h6>Shop</h6>
                    <li><a class="text-muted" href="#">Mac</a></li>
                    <li><a class="text-muted" href="#">iPhone</a></li>
                    <li><a class="text-muted" href="#">iPad</a></li>
                    <li><a class="text-muted" href="#">Watch</a></li>
                </ul>
            </div>
            <div class="col d-flex flex-column align-items-center">
                <ul class="list-unstyled">
                    <h6>Services</h6>
                    <li><a class="text-muted" href="#">Music</a></li>
                    <li><a class="text-muted" href="#">TV+</a></li>
                    <li><a class="text-muted" href="#">News+</a></li>
                    <li><a class="text-muted" href="#">Arcade</a></li>
                </ul>
            </div>
            <div class="col d-flex flex-column align-items-center">
                <ul class="list-unstyled">
                    <h6>Info</h6>
                    <li><a class="text-muted" href="#">Contact</a></li>
                    <li><a class="text-muted" href="#">Refunds</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>