<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Restaurant Website" />
	<title>Restaurant</title>
    <link rel="stylesheet" href="restaurant.css" />
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Restaurant</h1>
        <nav>
            <a href="#about">About</a>
            <a href="#menu">Menu</a>
            <a href="#booking">Booking</a>
        </nav>
    </header>
    <article>
        <div id="article-title">
            <h2>Restaurant</h2>
        </div>
        <section id="about">
            <img class="main-img" src="about.jpg">
            <div>
                <h2>About Us</h2>
                <h3>Est. 1995</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec ex non elit luctus ultrices. Donec hendrerit nisi enim, sit amet ornare ante vulputate sed. Quisque nec mi sed lectus maximus congue id eu nisl. Sed quis posuere est. Vestibulum vulputate justo sed lectus interdum malesuada. Ut at convallis ipsum, quis euismod metus. Nam elit orci, rhoncus vitae dolor sit amet, venenatis vestibulum nulla. Praesent suscipit eros sed dui ullamcorper hendrerit.</span>
            </div>
            <img class="mobile-img" src="about.jpg">
        </section>
        <section id="menu">
            <div>
                <h2>Our Menu</h2>
                <p class="menu-item">Item #1</p>
                <p class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="menu-item-price">4.95</p>
                <p class="menu-item">Item #2</p>
                <p class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="menu-item-price">9.95</p>
                <p class="menu-item">Item #3</p>
                <p class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="menu-item-price">12.50</p>
                <p class="menu-item">Item #4</p>
                <p class="menu-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p class="menu-item-price">15</p>
            </div>
            <img src="menu.jpg">
        </section>
        <section id="booking">
            <div id="booking-content">
                <h2>Booking</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec ex non elit luctus ultrices.</p>
                <input type="text" id="name" name="fullname" placeholder="Name">
                <input type="date" id="date" name="date">
                <input type="number" id="people" name="people" placeholder="No. of People">
                <input type="text" id="requests" name="requests" placeholder="Requests">
                <input type="submit" value="Reserve">
                <p>123 Fake Street, Apple Town, VIC 3000</p>
                <p>(03) 5555 5555</p>
            </div>
        </section>
    </article>
</body>
</html>