<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta name="description" content="Survey Form" />
	<title>Survey Form</title>
    <link rel="stylesheet" href="surveyform.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="title">Survey Form</h1>
    <p id="description">Take the time to provide us with your thoughts & feedback!</p>
    <form id="survey-form">
        <label for="name" id="name-label">Name </label>
        <input type="text" id="name" name="fullname" placeholder="John Smith" required>
        <label for="email" id="email-label">Email </label>
        <input type="email" id="email" name="email" placeholder="john@example.com" required>
        <label for="number" id="number-label">Age </label>
        <input type="number" id="number" name="age" min="1" max="100" placeholder="18">
        <label>Gender</label>
        <div id="gender-wrapper">
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male </label>
            <br />
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female </label>
            <br />
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other </label>
        </div>
        <label for="dropdown">How satisfied are you?</label>
        <select id="dropdown">
            <option value="satisfied">Satisfied</option>
            <option value="not-satisfied">Not Satisfied</option>
        </select>
        <label>What would you like to see improved?</label>
        <div id="improvement-wrapper">
            <input type="checkbox" id="everything" value="everything">
            <label for="everything">Everything</label>
            <br />
            <input type="checkbox" id="something" value="something">
            <label for="something">Something</label>
            <br />
            <input type="checkbox" id="nothing" value="nothing">
            <label for="nothing">Nothing</label>
        </div>
        <label for="comments">Comment</label>
        <textarea id="comments" rows="5"></textarea>
        <input type="submit" id="submit">
    </form>
</body>
</html>